.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.image {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._形状 {
}
._图像 {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
._标题_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.line {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._图片_ {
}
.label {
  font-size:14px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._形状1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.shape {
}
._图片 {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._默认样式 {
}
.c_btn_primary {
  font-family:'IBM Plex Sans regular', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
.c_notif_bg_suc_lc {
}
.c_notif_subtitle_lc {
  font-family:'IBM Plex Sans regular', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_notif_title_lc {
  font-family:'IBM Plex Sans Bold', 'IBM Plex Sans';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#161616;
  text-align:left;
  line-height:24px;
}
.c_shadow_0_2px_6px_0__0_2_ {
}
.c_spacer {
  font-family:'IBM Plex Sans regular', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:center;
  line-height:18px;
}
.c_spacer_num {
  font-family:'IBM Plex Sans regular', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#1E1E1E;
  text-align:left;
  line-height:normal;
}
.c__active-primary {
  color:#FFFFFF;
}
.c__disabled-02 {
  color:#8D8D8D;
}
.c__hover-primary {
  color:#FFFFFF;
}
.c__icon-01 {
}
.c__interactive-01 {
  color:#FFFFFF;
}
.c__inverse-01 {
}
.c__support-02 {
}
.font_awesome_5_free_solid {
  font-family:'Font Awesome 5 Free Bold', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
}
textarea, select, input, button { outline: none; }
